.id-input{
    margin: 2% auto;
    width: 50% !important;
}
.container{
    max-width:2000px;
}
.nav {
    display: block;
}

.desc {
    box-sizing: content-box;
}
a:hover {
    text-decoration: none;
}
.badge {
    margin: 2%;
}
.nav button{
    margin: 0 10%;
}
.btn-outline-secondary{
    border-color: #dee2e6;
}
